@use '@/scss/typography' as typography;
@use '@/scss/colors' as colors;
@use '@/scss/variables' as variables;

@mixin form-control {
    @include typography.form-control-text;
    border-radius: var(--radius-control);
    padding: var(--padding-control);
}

@mixin textarea {
    @include form-control;
    background-color: colors.use-color(primary);
    color: colors.use-color(input-text);
    border: 3px solid colors.use-color(accent);
    max-width: 100%;
    resize: vertical;
}

@mixin textarea-invalid {
    border-color: colors.use-color(invalid);
}

@mixin button {
    @include form-control;
    background-color: colors.use-color(button-bg);
    color: colors.use-color(button-text);
    border: none;
    width: max-content;
    align-self: center;
    padding-left: var(--padding-default);
    padding-right: var(--padding-default);
    cursor: pointer;
}